# Ignore everything by default
*

# Allow .sql and .dtsx files
!*.sql
!*.dtsx

# Allow the .gitignore file itself (optional but recommended)
!.gitignore

!*/          # Allow directories (so Git traverses them)